.formContainer {
    width: 100%;
    margin-top: 1.5rem;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
  }
  
  .formGroup {
    margin-bottom: 1rem;
  }
  
  .label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }

  .label span {
    color: red;
  }
  
  .input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .select {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .button {
    padding: 0.7rem 0 0 0;
    justify-self: center;
  }
  
  